<div class="container">
  <h2>Loader Create</h2>

  <input type="file" accept="image/*" (change)="onFileSelected($event)" />
  <p *ngIf="uploadedFileName">Uploaded: {{ uploadedFileName }}</p>

  <div class="controls">
    <label>
      Animation Type:
      <select [(ngModel)]="animationType">
        <option value="rotate">Rotate</option>
        <option value="pulse">Pulse</option>
        <option value="horizontal">Horizontal</option>
        <option value="vertical">Vertical</option>
        <option value="speed">Speed</option>
      </select>
    </label>

    <label>
      Speed:
      <input type="range" min="0.1" max="5" step="0.1" [(ngModel)]="animationSpeed" />
      {{ animationSpeed | number: '1.1-2' }}
    </label>
  </div>

  <canvas #canvas width="250" height="250" class="canvas"></canvas>

<button (click)="convertToGif()" [disabled]="!uploadedImage || isRecording">Download GIF</button>

</div>
