$primary: #E66B27;
$secondary:#1E4F7B;
$background:#070707;

.hero {
    text-align: center;
}

.hero {
    // background-color: $background;
    padding: 120px 0;
    background-image: url(../../../assets/bg.gif);
    background-size: cover;

    h1 {
        font-size: 57px;
        font-weight: 600;
        color: #fff;
        font-family: 'mulish';
    }

    p {
        color: #f0f0f0;
        margin: 15px 0;
        font-size: 17px;
    }

    Button {
        background-color: $primary;
        padding: 10px 25px;
        margin-top: 15px;
        border: none;
    }
}

@media only screen and (max-width:768px) {
    .hero{
        padding: 150px 0;
        background-position: center;
    }
    .hero{
        h1{
            font-size:30px;
        }
        p{
            margin: 25px 0;
        }
    }
}