<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>The Ultimate Toolkit for Designers & Developers</h1>
                <p>Access a powerful collection of free, easy-to-use tools for design and development — all in one
                    place. From
                    image
                    editing to code generators, create and convert without limits</p>
                <Button class="btn btn-primary">Explore Now</Button>
            </div>
        </div>
    </div>
</div>